.pokemonDetailContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #121212;
}

.pokemonCard {
  width: 100%;
  max-width: 1000px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  color: #fff;
}

.pokemonImageContainer {
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemonImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 5px solid #333;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.pokemonInfo {
  flex: 1;
}

.pokemonName {
  margin-top: 0;
}

.typeBadges {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.detailsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.detailsGrid div {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.stats {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 10px;
}

.stat {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.evolutionChain {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.evoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  text-align: center;
}

.evoItem img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.favoritesButton {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
  transition: background-color 0.3s, border-color 0.3s;
}

.favoritesButton:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.backButton {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s;
}

.backButton:hover {
  color: #007bff;
}

/* Add the following CSS classes for type colors */
.normal {
  background-color: #A8A77A;
}

.fire {
  background-color: #EE8130;
}

.water {
  background-color: #6390F0;
}

.electric {
  background-color: #F7D02C;
}

.grass {
  background-color: #7AC74C;
}

.ice {
  background-color: #96D9D6;
}

.fighting {
  background-color: #C22E28;
}

.poison {
  background-color: #A33EA1;
}

.ground {
  background-color: #E2BF65;
}

.flying {
  background-color: #A98FF3;
}

.psychic {
  background-color: #F95587;
}

.bug {
  background-color: #A6B91A;
}

.rock {
  background-color: #B6A136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6F35FC;
}

.dark {
  background-color: #705746;
}

.steel {
  background-color: #B7B7CE;
}

.fairy {
  background-color: #D685AD;
}